
.navright{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navright a{
    text-decoration: none;
    
    font-weight: 400px;
    font-size: 25px;
    color: black;
}

.btnnav{
    display: flex;
    gap: 1rem;
}
.active{
    color: green;
}
